* body div {
  padding: 0;
  margin: 0;
}
body {
  background: url("img/UFO-Frau_web-final.jpg") no-repeat fixed;
  background-size: cover;
}
header {
  background-color: #ffffff;
  width: 194px;
  margin: 15px;
}
a:link,
a:visited,
a:active {
  color: #005092;
  text-decoration: none;
}
a:hover {
  color: #f57d00;
}
